// Grid layout for header content and footer

.container {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr 1fr;
}

header {
  grid-area: header;
  min-height: 10vh;
}

main {
  grid-area: content;
  width: 100%;
}

footer {
  width: 100%;
  text-align: center;
  grid-area: footer;
  background-color: $bg-dark-color;
  color: $light-color;
  min-height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
