<header>
    <nav class="primary-nav">
      <div class="logo">
        <h4>Invisiblends</h4>
      </div>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/post">Blog</a></li>
        <!-- <li><a href="/categories">Categories</a></li> -->
        <li><a href="/resources">Resources</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <!-- Add search form here later -->
    </nav>
  </header>
